@model IEnumerable<QLSanBong.Models.Santrong>
@{
    int count = 1;

}
<div class="container" style="margin-top:20px">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã sân bóng</th>
            <th>Ngày đặt sân</th>
            <th>Giờ bắt đầu</th>
            <th>Giờ kết thúc</th>
            <th>Loại sân</th>
                @*<th>Giá thuê</th>*@
            <th></th>
           <!--Thêm các cột khác tại đây-->
        </tr>
    </thead>
    <tbody>
        @foreach (var sb in Model)
        {
            <tr>
                <td>@count</td>
                <td>@sb.MaSb</td>
                <td>@String.Format("{0:dd/MM/yyyy}", sb.Ngaydatsan)</td>
                <td>@sb.Giobatdau</td>
                <td>@sb.Gioketthuc</td>
                <td>Sân @sb.Loai người</td>
                    @* <td>@sb.Giatien</td>*@
                    <td>
                        <button class="btn btn-success open-modal"
                                data-bs-toggle="modal"
                                data-bs-target="#modalOrder"
                                data-ma-san="@sb.MaSb"
                                data-ma-gio="@sb.Magio"
                                data-ngay-dat-san="@sb.Ngaydatsan"
                                data-gio-bat-dau="@sb.Giobatdau"
                                data-gio-ket-thuc="@sb.Gioketthuc" id="order" name="order">
                            <i class="fas fa-calendar-alt"></i> Đặt sân ngay
                        </button>
                        <button class="btn add-to-cart"
                                data-ma-san="@sb.MaSb"
                                data-ngay-dat-san="@sb.Ngaydatsan"
                                data-ma-gio="@sb.Magio" name="dscho">
                            <i class="fas fa-calendar-alt"></i> Thêm vào danh sách chờ duyệt
                        </button>
                    </td>

                <!--Thêm các cột khác tại đây-->
            </tr>
            count++;
            }
            
    </tbody>
</table>
</div>


    <script src="~/js/notify.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".add-to-cart").on('click', function () {
                var masb = $(this).data("ma-san");
                var ngay = $(this).data("ngay-dat-san");
                var magio = $(this).data("ma-gio");
                $.ajax({
                    url: '/Login/AddItem',
                    data: {
                        MaSb: masb,
                        NgayDat: ngay,
                        MaGio: magio,
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            $.notify("Lịch đặt sân này đã được thêm vào danh sách chờ.", "success");
                            // Cập nhật số lượng ngay sau khi thêm vào giỏ
                            updateCartItemCount();
                        } else {
                            $.notify("Lịch đặt sân này đã có trong danh sách chờ.", "error");
                        }
                    }
                });
            });

            // JavaScript để cập nhật số lượng mục trong giỏ hàng
            function updateCartItemCount() {
                $.get('@Url.Action("GetItemCount", "Login")', function (data) {
                    if (data.success) {
                        var cartItemCount = data.itemCount;
                        document.getElementById("cartItemCount").textContent = cartItemCount;
                    }
                });
            }
        });
    </script>
    <script>
    $(document).on('click', "button[name='order']", function () {
        var maSan = this.getAttribute('data-ma-san');
        var ngayDatSan = this.getAttribute('data-ngay-dat-san');
        var gioBatDau = this.getAttribute('data-gio-bat-dau');
        var gioKetThuc = this.getAttribute('data-gio-ket-thuc');
        // Chuyển đổi giá trị ngày từ datetime sang date
        var ngayDatSanDate = new Date(ngayDatSan);
        var ngayDatSanFormatted = formatDate(ngayDatSanDate);
        magiods = this.getAttribute('data-ma-gio');
        $('#idstadium').val(maSan);
        $('#day').val(ngayDatSanFormatted);
        $('#start').val(gioBatDau);
        $('#end').val(gioKetThuc);
    });
    // Sự kiện khi modal bị ẩn (đóng)
    $('#modalOrder').on('hidden.bs.modal', function (e) {
        // Đặt giá trị của các trường "userName" và "phoneNumber" về chuỗi rỗng
        $('#name').val("");
        $('#phoneNumber').val("");
    });


    // Hàm để định dạng ngày thành "yyyy-MM-dd" (định dạng của trường date)
    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        // Đảm bảo hiển thị "0" trước ngày và tháng nếu cần
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }

        return year + "-" + month + "-" + day;
    }
    var magiods;
    let lastSearch = {}
    $('#addYC').click(function () {
        let name = $('#name').val();
        let phoneNumber = $('#phoneNumber').val();
        let day = $('#day').val();
        let start = $('#start').val();
        let end = $('#end').val();
        let magio = magiods;
        let idstadium = $('#idstadium').val();
        let pttt = $('#pttt').val();
        // thêm ràng buộc dữ liệu
        if (name.length == 0 || phoneNumber.length == 0) {
            alert("Vui lòng nhập đầy đủ dữ liệu");
            return;
        }

        lastSearch = {
            dayOrder: $('#dayOrder').val(),
            timeStart: $('#timeStart').val(),
            timeEnd: $('#timeEnd').val(),
            idSan: $('#idSan').val(),
            loai: $('#loai').val(),
        };

        // dùng ajax
        $.ajax({
            url: '/Login/ThemMoi',
            type: 'POST',
            data: {
                name: name,
                day: day,
                start: start,
                end: end,
                magio: magio,
                phoneNumber: phoneNumber,
                idstadium: idstadium,
                trangthai: 'Đang chờ',
                pttt: pttt,
            },
            success: function (data) {
                if (data.code == 200) {
                    alert("Yêu cầu đặt sân thành công");
                    $('#modalOrder').modal('hide');
                    loadAllST(lastSearch);
                } else {
                    alert(data.msg);
                }
            }
        });
    });
    </script>
    <script>
    $("#themKH1").on("click", function () {
        // Đóng modalLogin
        $("#modalLogin").modal("hide");
        // Mở addKHModal
        $("#addKHModal").modal("show");
    });
    $("#order").on("click", function () {
        $("#modalOrder").modal("show");
    });
    </script>
