@model IEnumerable<QLSanBong.Models.ChiTietYcd>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_KH2.cshtml";
    int count = 1;
    List<int> dsKHDonHang = ViewBag.KHDonHangCn as List<int>;
}


<div class="container">
@if(Model!=null)
{
   
        <h2>Danh sách yêu cầu đặt sân</h2>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    
                    <th>
                        Ngày sử dụng sân
                    </th>
                    <th>
                        Giờ bắt đầu
                    </th>
                    <th>
                        Giờ kết thúc
                    </th>
                    <th>
                        Mã sân
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(count++)</td>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Ngaysudung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Giobatdau)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gioketthuc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaSb)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.GhiChu)
                        </td>
                        
                        @if (item.Ngaysudung > DateTime.Now && item.TrangThai == "Đang chờ")
                        {
                            <td>

                            @if (dsKHDonHang != null && dsKHDonHang.Contains(4))
                            {
                                <button class="btn btn-outline-danger" name="delete" data-id="@item.Stt">Hủy yêu cầu</button>
                            }
                            else
                            {
                                }
                            </td>
                        }
                        @if (item.Ngaysudung < DateTime.Now)
                        {
                            <td><button class="btn btn-outline-success">Đã hoàn thành</button></td>

                        }
                    </tr>
                }
            </tbody>
        </table>
   
}
else
{
    <div class="center-block">
        <h2> Chưa có lịch đặt sân nào được thêm</h2>
        <h3> Chọn sân ngay <a href="@Url.Action("Index","Home")">tại đây!</a></h3>
        <div class="clearfix">
        </div>
    </div>
}
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', "button[name='delete']", function () {
            var id = $(this).data('id');
            if (confirm("Bạn thực sự muốn hủy yêu cầu này?")) {
                // dùng ajax để xóa lớp được chọn
                $.ajax({
                    url: '/Customer/DatSan/Xoa',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.msg,
                                }).then(function () {
                                    window.location.href = '/Customer/DatSan/Index';
                                });

                        } else {
                            alert(data.msg);
                        }
                    }
                })
            }
        });
    });
    </script>
}
                      