@{
    var sb = ViewBag.sb;
    var ngay = ViewBag.ngay;
    var gioBD = ViewBag.gioBD;
    var gioKT = ViewBag.gioKT;
    var gia = ViewBag.gia;
}

<h2>Đánh giá sử dụng sân bóng</h2>

<div class="containe">
    
        <div class="form-group row">
            <div class="col-4">
                <label>@sb.MaSb</label>
                <img class="img-fluid rounded w-100 mb-4"
                     src="@sb.Hinhanh"
                     alt="Image" />
            </div>
            <div class="col-6">
                <label>Thời gian sử dụng: Từ @gioBD - @gioKT ngày @ngay.ToString("dd/MM/yyyy")</label>
                <label>Nguời đặt: @ViewBag.ten</label>
            </div>

        </div>
    <form asp-action="DanhGia" method="post">
        <input type="hidden" value="@sb.MaSb" name="masb" />
        <input type="hidden" value="@ViewBag.ten" name="ten" />
        <div class="form-group row">
            <label>Nội dung đánh giá:</label>
            <input type="text" class="form-control" name="danhgia" />
        </div>
        <input type="submit" class="btn btn-primary" value="Gửi" />
    </form>
 
</div>