@using QLSanBong.Models;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    Layout = "~/Areas/Customer/Views/Shared/_KH2.cshtml";
    List<int> dsKHDonHang = ViewBag.KHDonHangCn as List<int>;    
}

<div class="container">
    @if (ViewBag.ItemCarts != null && ViewBag.ItemCarts.Count > 0)
        {
            <table class="table table-hover table-bordered">
                <tr>
                    <th>STT</th>
                    <th>Mã sân</th>
                    <th>Ngày đặt sân</th>
                    <th>Giờ bắt đầu</th>
                    <th>Giờ kết thúc</th>
                    <th>Giá sân</th>
                    <td></td>
                </tr>
            @foreach (var item in ViewBag.ItemCarts)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.MaSb</td>
                        <td>@item.NgayDat</td>
                        <td>@item.Giobatdau</td>
                        <td>@item.Gioketthuc</td>
                        <td>@item.Giatien</td>
                        <td>
                        <button class="btn btn-outline-danger delete-button" data-id="@item.Id">Hủy yêu cầu</button>
                        </td>
                    </tr>
                
                }
            <tr>
                <th> <span id="totalPrice"></span></th>
            </tr>
            </table>
          @*<form action="/Customer/Cart/AddOrder" method="post" class="row">
            <div>
                <input type="submit" value="Gửi yêu cầu" class="btn btn-success" id="gui"/>
            </div>
        </form>*@
     <div>
            <input type="button" value="Xác nhận thông tin" id="xntt" class="btn btn-danger" />
        </div>
          <div class="d-none" id="ktratt">
            <h3>Vui lòng kiểm tra lại thông tin</h3>
                <div class="row">
                    <div class="col-3">
                        <label for="name" class="form-label">Tên người đặt</label>
                        <input type="text" class="form-control" id="name1" name="name1">
                    </div>
                    <div class="col-3">
                        <label for="phoneNumber" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phoneNumber1" name="phoneNumber1">
                    </div>
                </div>
            <form action="/Customer/Cart/AddOrder" method="post">
                <div class="row" style="margin-top:-70px">
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <label for="pttt" class="form-label">Phương thức thanh toán</label>
                        <select id="pttt" class="form-control" name="pttt">
                            <option value="Chuyển khoản">Chuyển khoản</option>
                            <option value="Tiền mặt">Tiền mặt</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="totalPriceInput" name="totalPrice1" value="" />
                @if (dsKHDonHang != null && dsKHDonHang.Contains(3))
                {
                <input type="submit" value="Gửi yêu cầu" class="btn btn-success mt-2 py-2 px-4" id="guiyc" />
                }
                else
                {
                    <a href="@Url.Action("Error","Home")" class="btn btn-success">Gửi yêu cầu</a>
                }
            </form>
            </div>
        }
        else
        {
            <div class="center-block">
                <h2> Chưa có lịch đặt sân nào được thêm</h2>
                <h3> Chọn sân ngay <a href="@Url.Action("Index","Home")">tại đây!</a></h3>
                <div class="clearfix">
                </div>
            </div>
        }
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //document.getElementById("gui").addEventListener("click", function () {
    //    alert("Gửi yêu cầu thành công! Chờ nhân viên xác nhận nhé!");

    //});
    $(document).ready(function () {
        updateTotalPrice();
        $('.delete-button').click(function () {
            event.preventDefault();
            var id = $(this).data('id');
            var rowToDelete = $(this).closest('tr');
            if (confirm("Bạn thực sự muốn hủy yêu cầu này?")) {
                // Dùng ajax để xóa lớp được chọn
                $.ajax({
                    url: '/Customer/Cart/Xoa',
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert("Hủy yêu cầu thành công!");
                            rowToDelete.remove(); // Xóa hàng tương ứng trên giao diện
                            updateTotalPrice();
                            location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                })
            }
        });
    });
    document.getElementById("xntt").addEventListener("click", function () {

        $("#ktratt").removeClass("d-none");
        $("#xntt").addClass("d-none");

        loadUserInfo();
    });
    function loadUserInfo() {
        // Sử dụng Ajax để gọi controller và lấy thông tin
        $.ajax({
            url: '/Customer/Cart/GetInfo', // Đường dẫn đến controller và action của bạn
            type: 'GET',
            dataType: 'json', // Kiểu dữ liệu mong đợi từ server
            success: function (data) {
                // Thành công, điền thông tin vào các trường input
                $('#name1').val(data.tenNguoiDung);
                $('#phoneNumber1').val(data.sdtNguoiDung);
            },
            error: function (error) {
                console.log(error); // Xử lý lỗi nếu có
            }
        });
    }
    function updateTotalPrice() {
        var rows = document.querySelectorAll("table tr");
        var totalPrice = 0;

        for (var i = 1; i < rows.length; i++) { // Bỏ qua dòng tiêu đề và dòng tổng tiền
            var priceCell = rows[i].querySelector("td:nth-child(6)"); // Lấy ô chứa giá tiền (cột thứ 6)
            if (priceCell) {
                var price = parseFloat(priceCell.innerText);
                totalPrice += price;
            }
        }

        document.getElementById("totalPrice").innerText = "Tổng tiền: " + totalPrice + " VNĐ";
        document.getElementById("totalPriceInput").value = totalPrice;
    }

</script>